*{
	margin:0;
	padding:0;
}
html,body{
	width: 100%;
	font-size: 62.5%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-size: 1.4rem;*/
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
.login{
	height: 4rem;
}
.login a{
	float: right;
	padding-top: 1rem;
	padding-right: 1rem;
	font-size: 1.6rem;
	color: #4374e0;
}
.welcome{
	width: 90%;
	/*height: 10rem;*/
	margin: 0 auto;
	/*background-color: red;*/
}
.welcomeHeadline a{
	display: inline-block;
	padding-top: 4rem;
	font-size: 2.4rem;
	color: #c92027;
    margin-right: 10px;
	text-decoration: none;
}
.welcomeHeadline p{
	display: inline-block;
	padding-top: 4rem;
	font-size: 2.5rem;
}
.register{
	padding-top: 3rem;
}
.clearfix::after{
	display: block;
	clear: both;
	height: 0;
	content: "";
}
.register li{
	float: left;
	font-size: 1.4rem;
	color: #999;
	padding-right: 1rem;
	list-style: none;
}
.register .registerfirst{
	color: #59b300;
}
.register .registersecont{
	color: #f90;
}
.register li span{
	display: inline-block;
	width:2rem;
	height: 2rem;
	font-size: 1.6rem;
	line-height: 2rem;
	text-align: center;
	margin-right: 0.5rem;
	background-color: #ddd;
	color: #fff;
	border-radius: 100%;
}
.register .registerfirst span{
	background-color: #59b300;
}
.register .registersecont span{
	background-color: #f90;
}
.register li strong{
	display: inline-block;
	margin-left: 1rem;
	margin-top: 1rem;
	/*margin-bottom: 1rem;*/
	/*width: 20%;*/
	width: 3rem;
	height: 0.1rem;
	line-height: 0.1rem;
	text-align: center;
	background-color: #ddd;
}
.person{
	width: 90%;
	margin: 0 auto;
}
.person input{
	width: 95%;
	height: 4rem;
	margin-top: 2rem;
	background-color: #fafafa;
	color: #ddd;
	border-radius: .4rem;
	padding-left: 4%;
	/*padding-right: 4%;*/
	font-size: 1.6rem;
	border: .1rem solid #ddd;
	box-shadow: inset 0 0.1rem 0.3rem 0 #ddd;
}
.person .fys::-webkit-input-placeholder { /* WebKit browsers */
    color:#c5c5c5;
    font-size:1.8rem;
    line-height: 4.8rem;
    height: 4.8rem;
}

.person a{
	display: block;
	margin-top: 3rem;
	background-color: #c92027;
	color: #fff;
	box-shadow: 0 .2rem 0 0 #ddd;
	width:  100%;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
	text-decoration: none;
	font-size: 1.8rem;
}
.null{
	height: 1.2rem;
	margin-top: 1rem;
}
.null i, .getPhoneNull i{
	display:block;
	float: left;
	/*margin: 1.2rem 0 1rem 0;*/
	width: 1.2rem;
	height: 1.2rem;
	background: url("../images/x.png") no-repeat;
	background-position:-4.7rem 0 ;
	border-radius: 100%;
	background-color: red;
}
.null p, .getPhoneNull p{
	padding-left: 1rem;	
	/*padding-top: 0;*/
	display: inline-block;
}
.by, .cy, .dy{
	display: none;
}
.hide{
	display: none;
}
.show{
	display: block;
}
.getPhoneNull{
	/*display: block;*/
}