html,body,img,ul,li,p,a,b,span,strong{
	padding: 0;
	margin: 0;
}
html,body{
	font-size: 62.5%;
}
.clearfix::after{
	display: block;
	content: "";
	clear: both;
	height: 0;
}
.top{
	height: 5rem;
}
.top-left{
	width: 20rem;
	height: 5rem;
	float: left;
}
.top-right{
	width: 9rem;
	height: 5rem;
	float: right;
}
.photo{
	/*width: 100%;*/
	height: 12rem;
}
.swiper-slide img{
	width: 100%;
	height: 12rem;
}
.subject{
	height:9rem;
}
.subject li{
	display: inline-block;
	width: 20%;
	/*margin: 1rem 1%;*/
	float: left;
	text-align: center;
	list-style: none;
	overflow-x:auto;
	/*overflow-y:hidden; */
}
.subject li img{
	display: block;
	margin: 1rem auto;

	border-radius: 100%;
}
.subject li p{
	font-size: 1.4rem;
	color: #000;
}
.teacher{
	height: 4rem;
	background-color: #f4f4f4;
}
.teacher p{
	/*padding-top: 1rem;*/
	/*margin: 1rem 1rem;*/
	padding: 1rem;
	font-size: 2rem;
	font-weight: 1400;
	color: #ff6700;
}
.content{
	/*height: 35rem;*/
}
.container{
	position: relative;
	height: 8rem;
	margin-bottom: 1rem;
}
.container img{
	position: absolute;
	top: 0.8rem;
	left: 0.5rem;
	display: block;
}
.container .container-name{
	display: inline-block;
	float: left;
	padding: 0.6rem 0 0 7.5rem;
}
.container span{
	display: inline-block;
	width: 3rem 1rem;
	margin: 0.6rem 0 0 1rem;
	background-color: green;
}
.container strong{
	display: inline-block;
	margin-left: 0.3rem;
	text-align: center;
	width: 1.2rem;
	height: 1.2rem;
	border:0.1rem solid green;
}
.container .last{
	display: inline-block;
	float: right;
	padding: 0.6rem 1rem 0 0;
	text-decoration: none;
	color: #777;
}
.container .container-age{
	/*display: inline-block;*/
	/*float: left;*/
	color: #777;
	padding:0.5rem 0 0 7.5rem;
}
.container-bottom .container-photo{
	display: inline-block;
	/*position: absolute;
	bottom: 1.2rem;
	left: 7.5rem;*/
	margin-top:0.1rem; 
	width: 1.2rem;
	height: 1.2rem;
	background: url(../images/xuan.png);
	background-size: 1rem 1rem;
}
.container .container-bottom{
	display: inline-block;
	float: left;
	padding:1.5rem 0 0 7.5rem;
	/*color: #777;*/
}	
